@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@300;400;600;700&display=swap');
body {
    background: rgb(20, 20, 20) !important;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav.hulu-padding-left {
    padding-left: 57px;
}

nav.hulu-padding-right {
    padding-right: 57px;
} */

nav.hulu-navbar {
    background-color: #0c0c0c;
    position: fixed;
    width: 100vw;
    z-index: 999;
    transition: background 0.2s linear;
    padding-left: 57px;
    padding-right: 57px;
}

.hulu-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-brand img {
    width: 100px;
    /* padding-right: 50px; */
    /* padding-bottom: 10px; */
}

.hulu-dropdown-box {
    display: none;
}

.hulu-dropdown {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 13px;
}

.hulu-dropdown-box .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.796);
    font-size: 9px;
    color: #fff !important;
    margin-left: -80px !important;
    border-top: 3px solid #fff;
    margin-top: 30px !important;
}

.hulu-dropdown-box .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.796);
    text-align: center;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
}

.hulu-dropdown-box .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.111);
    color: #fff;
}

.hulu-nav {
    display: block;
    align-items: center;
    padding-left: 20px;
}

.hulu-nav button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.719);
    border: none;
    font-size: 13px;
}

.hulu-nav button a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.619);
}

.hulu-nav button a:hover {
    color: #fff;
    font-weight: 500;
}

.right i {
    font-size: 20px;
    color: #fff;
    padding: 5px 40px;
}


h5 {
    color: rgba(255, 255, 255, 0.719);
    padding-right: 20px;
    /* margin-right: 20px; */
}

.hulu-profile {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 4px;
    /* margin-left: ; */
    cursor: pointer;
}

/* video */
.hulu-home-video {
    width: 100%;
    position: relative;
    z-index: 10;
}

.hulu-home-video video {
    width: 100%;
}

.hulu-home-video .top {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, transparent, #000);
}

.hulu-home-video .bottom {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, transparent, #141414);
}

.hulu-home-video .content {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 100;
    display: flex;
}

.hulu-home-video .content .left {
    margin-left: 80px;
}

.hulu-home-video .content .left img{
    width: 600px;
    height: auto;
    margin-top: 190px;
    margin-left: -120px;
}

.content .left button {
    font-size: 18px !important;
    font-weight: bold !important;
    /* width: max-content !important; */
    padding: 8px 30px !important;
}

.content .left .write-up {
    width: 550px;
    font-size: 20px;
    line-height: 1.1;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.slider1{
    position: absolute;
    top: 680px;
    z-index: 500;
}

.slider-box .trend {
    font-size: 20px !important;
    margin-bottom: 8px !important;
}

.card {
    width: 250px;
    background: rgb(24, 24, 24) !important;
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
    /* box-shadow: 0 0 20px !important; */
}

.card:hover {
    transition: 0.2s;
    transform: scale(1.4) translateY(-50px);
    z-index: 10;
    color: #000;
    border-radius: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 5px!important;
}

.card-icon {
    color: #fff;
    padding: 0px 2px !important;
    font-size: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.card-width {
    width: 100%;
}

/* .carousel-control-prev {
    margin-top: 20px;
} */

.hulu-card-text {
    font-size: 12px;
}

.card-body {
    display: none;
    padding: 10px 15px;
    position: absolute;
    background-color: #141414;
    top: 120px;
    width: 100%;
}

.card:hover > .card-body {
    display: block;
}

.slider2 {
    position: absolute;
    top: 900px;
    z-index: 500;
}

.slider3 {
    /* margin-top: 185px; */
    position: absolute;
    top: 1120px;
    z-index: 500;
}

.slider4 {
    position: absolute;
    top: 1340px;
    z-index: 500;
}

.slider5 {
    position: absolute;
    top: 1560px;
    z-index: 500;
}

.slider6 {
    position: absolute;
    top: 1780px;
    z-index: 500;
}

.slider7 {
    position: absolute;
    top: 2000px;
    z-index: 500;
}

.slider8 {
    position: absolute;
    top: 2220px;
    z-index: 500;
}

.slider1:hover {
    z-index: 510;
}

.slider2:hover {
    z-index: 520;
}

.slider3:hover {
    z-index: 530;
}
.slider4:hover {
    z-index: 540;
}
.slider5:hover {
    z-index: 550;
}

.slider6:hover {
    z-index: 560;
}
.slider7:hover {
    z-index: 570;
}
.slider8:hover {
    z-index: 580;
}

.footer {
    margin-top: 1600px;             
    height: 400px;
}

ul {
    list-style: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.646);
    font-weight: 100;
}

.copyright {
    font-size: 15px;
    font-weight: 200;
    color: green !important;
    margin-left: 29px;
}
/* media queries */
@media(max-width:1280px) {
    .footer {
        margin-top: 1700px;
    }

}

@media(max-width:1024px) {
    nav.hulu-navbar {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-brand img{
        width: 43px;
    }

    .hulu-dropdown-box {
        display: block;
    }

    .hulu-nav {
        display: none;
    }

    .hulu-home-video {
        display: none;
    }

    .slider-box section{
        margin-top: -280px;
    }

    .slider-box .trend {
        margin-top: -320px;
    }

    .slider-box .move {
        margin-top: -320px;
    }
    .container-footer {
        margin-bottom: -300px !important;
    }
    .slider2 {
        margin-top: -320px !important;
    }

    .slider3 {
        margin-top: -360px !important;
    }

    .slider4 {
        margin-top: -400px !important;
    }

    .slider5 {
        margin-top: -440px !important;
    }

    .slider6 {
        margin-top: -480px !important;
    }

    .slider7 {
        margin-top: -520px !important;
    }

    .slider8 {
        margin-top: -560px !important;
    }

    .card-body {
        display: none !important;
    }

    .footer {
       display: none;
    }

    .slider1 .card:nth-child(5) {
        display: none;
    }
    .slider1 .card:nth-child(6) {
        display: none;
    }

    .slider2 .card:nth-child(5) {
        display: none;
    }
    .slider2 .card:nth-child(6) {
        display: none;
    }

    .slider3 .card:nth-child(5) {
        display: none;
    }
    .slider3 .card:nth-child(6) {
        display: none;
    }

    .slider4 .card:nth-child(5) {
        display: none;
    }
    .slider4 .card:nth-child(6) {
        display: none;
    }

    .slider5 .card:nth-child(5) {
        display: none;
    }
    .slider5 .card:nth-child(6) {
        display: none;
    }

    .slider6 .card:nth-child(5) {
        display: none;
    }
    .slider6 .card:nth-child(6) {
        display: none;
    }

    .slider7 .card:nth-child(5) {
        display: none;
    }
    .slider7 .card:nth-child(6) {
        display: none;
    }
    .slider8 .card:nth-child(5) {
        display: none;
    }
    .slider8 .card:nth-child(6) {
        display: none;
    }

}

@media(max-width:768px){
    nav.hulu-navbar {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-brand img{
        width: 43px;
    }

    .hulu-dropdown-box {
        display: block;
    }

    .hulu-nav {
        display: none;
    }

    i {
        font-size: 12px;
        cursor: pointer;
        padding: 5px !important;
    }

    .hulu-profile {
        margin-left: 5px !important;
    }

    .hulu-home-video video {
        width: 100% !important;
    }

    .hulu-home-video .content .left {
        margin-left: 25px !important;
    }
    
    .hulu-home-video .content .left img {
        margin-top: 90px !important;
        margin-left: -70px;
        /* padding-left: 20px; */
        width: 350px;
    }

    .content .left {
        margin-top: -30px !important;
    }

    .content .left button {
        font-size: 15px !important;
        width: max-content !important;
        opacity: 0.8;
        padding: 5px 20px !important;
    }

    .content .left .write-up{
        font-size: 10px;
        width: 300px  !important;
        padding: 9px 0;
        margin-left: 3px;
    }

    .card {
        width: 100%;
        /* margin-top: -40px; */
    }

    .card-icon {
        font-size: 17px !important;
    }

    .carousel-inner {
        margin-top: -10px;
    }

    .slider1 {
        width: 100%;
        /* top: 375px; */
        margin-left: 0px;
        margin-top: -40px;
    }
    .card-body {
        top: 100px;
    }

    .slider1 .card:nth-child(4) {
        display: none;
    }
    .slider1 .card:nth-child(5) {
        display: none;
    }
    .slider1 .card:nth-child(6) {
        display: none;
    }

    .slider2 {
        margin-top: 80px;
    }

    .slider2 .card:nth-child(4) {
        display: none;
    }
    .slider2 .card:nth-child(5) {
        display: none;
    }
    .slider2 .card:nth-child(6) {
        display: none;
    }
    .slider3 .card:nth-child(4) {
        display: none;
    }
    .slider3 .card:nth-child(5) {
        display: none;
    }
    .slider3 .card:nth-child(6) {
        display: none;
    }
    .slider4 .card:nth-child(4) {
        display: none;
    }
    .slider4 .card:nth-child(5) {
        display: none;
    }
    .slider4 .card:nth-child(6) {
        display: none;
    }
    .slider5 .card:nth-child(4) {
        display: none;
    }
    .slider5 .card:nth-child(5) {
        display: none;
    }
    .slider5 .card:nth-child(6) {
        display: none;
    }
    .slider6 .card:nth-child(4) {
        display: none;
    }
    .slider6 .card:nth-child(5) {
        display: none;
    }
    .slider6 .card:nth-child(6) {
        display: none;
    }
    .slider7 .card:nth-child(4) {
        display: none;
    }
    .slider7 .card:nth-child(5) {
        display: none;
    }
    .slider7 .card:nth-child(6) {
        display: none;
    }
    .slider8 .card:nth-child(4) {
        display: none;
    }
    .slider8 .card:nth-child(5) {
        display: none;
    }
    .slider8 .card:nth-child(6) {
        display: none;
    }

    .slider1 {
        margin-top: -310px !important;
    }

    .slider2 {
        margin-top: -350px !important;
    }
    .slider3 {
        margin-top: -390px !important;
    }
    .slider4{
        margin-top: -430px !important;
    }
    .slider5 {
        margin-top: -470px !important;
    }
    .slider6 {
        margin-top: -510px !important;
    }
    .slider7 {
        margin-top: -550px !important;
    }
    .slider8 {
        margin-top: -590px !important;
    }
}

@media(max-width:415px) {
    .slider-box .trend {
        font-size: 10px !important;
    }

    .slider1 .card:nth-child(3) {
        display: none;
    }
    .slider2 .card:nth-child(3) {
        display: none;
    }
    .slider3 .card:nth-child(3) {
        display: none;
    }
    .slider4 .card:nth-child(3) {
        display: none;
    }
    .slider5 .card:nth-child(3) {
        display: none;
    }
    .slider6 .card:nth-child(3) {
        display: none;
    }
    .slider7 .card:nth-child(3) {
        display: none;
    }
    .slider8 .card:nth-child(3) {
        display: none;
    }

    .slider-box .trend {
        margin-top: -310px;
    }


    .slider1 {
        margin-top: -325px !important;
    }
    .slider2 {
        margin-top: -415px !important;
    }
    .slider3 {
        margin-top: -505px !important;
    }
    .slider4 {
        margin-top: -595px !important;
    }
    .slider5 {
        margin-top: -685px !important;
    }
    .slider6 {
        margin-top: -775px !important;
    }
    .slider7 {
        margin-top: -865px !important;
    }
    .slider8 {
        margin-top: -955px !important;
    }
}